@mixin flex($flow: row wrap) {
  display: flex;
  flex-flow: $flow;
}

@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin center($width: auto) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}
