
@mixin bbox() {
  box-sizing: border-box;
}

@mixin flex() {
  display: flex;
}

@mixin col-pad($pad-both: $pad, $pad-left: false, $pad-right: false) {
  @if ($pad-both == false) {
    @if ($pad-left != false) {
      padding-left: $pad-left;
    }
    @if ($pad-right != false) {
      padding-right: $pad-right;
    }
  } @else {
    padding-left: $pad-both;
    padding-right: $pad-both;
  }
}

@mixin type-setup(
    $margin-top: $baseline,
    $margin-bottom: 0,
    $padding-top: 0,
    $padding-bottom: 0,
    $leading: $baseline * 2,
    $color: $gray,
    $font: $font-family-sans-serif
) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    line-height: $leading;
    color: $color;
    font-family: $font;
}

@mixin list-inline() {
  @include list-unstyled;
  @extend .list-inline;
  & > li {
    @extend .list-inline-item;
  }
}

@mixin list-unstyled() {
  @extend .list-unstyled;
}

@mixin list-tight() {
  &>li {
		padding-top: 0;
		padding-bottom: 0;
		&:first-of-type {
			padding-top: 6px;
		}
		&:last-of-type {
			padding-bottom: 6px;
		}
	}
}

@mixin btn($type: false, $size: false) {
  @extend .btn;
  @if ($type != false) {
    @extend .btn-#{$type};
  }
  @if ($size != false) {
    @extend .btn-#{$size};
  }
}

@mixin placeholder() {
  &::-webkit-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-ms-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}
