.footer {
  margin-top: $baseline * 4;
  padding: ($baseline * 2) 0;
  background-color: $gray-200;
}

.footer__copyright {
  text-align: center;
  margin-top: $baseline;
}

.footer__logo {
  padding-top: 0;
  margin: 0 auto;
  width: 100px;
  @include media-breakpoint-up(lg) {
	width: 120px;
  }
}

.footer__nav {
  margin-top: $baseline + 3px;
  display: flex;
  justify-content: center;
  ul {
    @include list-inline;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__social-media-links {
  @include list-inline;
  margin-right: auto;
  margin-left: auto;
  width: 64px;
}

.footer__sponsorship {
  text-align: center;
  margin-top: $baseline;
  color: $blue-brand;
  .cu-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
  }
}

@include media-breakpoint-up(sm) {
  .footer {
    display: grid;
    grid-template-columns: 140px 1fr auto;
	grid-template-rows: ($baseline * 4) ($baseline * 5) auto;
    grid-template-areas:
	  "logo      nav          sponsorship"
      "logo      social-media sponsorship"
      "copyright copyright    copyright";
  }
  .footer__logo {
    grid-area: logo;
	width: 100%;
    @include col-pad;
    margin-left: 0;
    margin-right: 0;
	margin-top: 0;
  }
  .footer__nav {
    grid-area: nav;
	margin-top: 17px;
  }
  .footer__copyright {
    grid-area: copyright;
    @include col-pad;
    text-align: center;
    margin-top: $baseline;
    br { display: none; }
  }
  .footer__sponsorship {
    grid-area: sponsorship;
    @include col-pad;
    margin-top: 16px;
  }
  .footer__social-media-links {
    grid-area: social-media;
  	margin-top: 0px;
	width: 64px + $gutter;
    @include col-pad;
  }
}
@include media-breakpoint-up(lg) {
  .footer {
    grid-template-columns: 200px 1fr auto;
  }
  .footer__logo {
    margin-top: 6px;
  }
}
