
.logo {
  display: block;
  margin: 0;
  text-indent: -9999px;
  width: 100px;
  height: 91px;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../images/logo-md-blue@2x.png');
  @include media-breakpoint-up(md) {
    width: 120px;
    height: 109px;
  }
}
.logo--white {
  background-image: url('../images/logo-md-white@2x.png');
}

.cu-logo {
  display: block;
  margin: 0;
  text-indent: -9999px;
  width: 184px;
  height: 46px;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../images/cu-logo-blue@2x.png');
}
.cu-logo--white {
  width: 144px;
  height: 36px;
  background-image: url('../images/cu-logo-white@2x.png');
}
