//
// Local variabls
//

$base-size: 10px;
$baseline: 12px;
$gutter: 40px;
$pad: $gutter / 2;

$size-icon-xxxl: 5.9rem;
$size-icon-xxl: 4.4rem;
$size-icon-xl: 3.4rem;
$size-icon-lg: 2.4rem;
$size-icon: 2.4rem;
$size-icon-sm: 1.7rem;
$size-icon-xs: 1.4rem;
