button, .btn {
  display: inline-block;
  height: $baseline * 3;
  padding-top: 5px;
  &.btn-sm {
    font-family: $font-family-condensed;
    padding-top: 0;
    height: $baseline * 2;
  }
  &.btn-lg {
    height: $baseline * 4;
  }
}
