$brand-img-width: 64px;

.header {
    opacity: 0.5;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    background-color: $blue-brand;
}

.header__tagline {
  @extend .lead;
  font-style: italic;
  color: $blue;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.header__nav {
  & > ul {
    @extend .list-inline;
    & > li {
      @extend .list-inline-item;
      padding-top: 0;
      padding-bottom: 0;
      & > a {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}

.footer {
  background-color: $gray-200;
}

.logo {
  text-indent: -9999px;
  width: 89px;
  height: 84px;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../images/logo-md-blue.png');
  @include media-breakpoint-up(lg) {
    width: 111px;
    height: 105px;
  }
}
.logo--white {
  background-image: url('../images/logo-md-white.png');
}
