.article {}

.article--full {
  h1 {
    @extend .h2;
  }
  h2 {
    @extend .h3;
  }
  h3 {
    @extend .h4;
  }
  h4 {
    @extend .h5;
  }
  h5 {
    @extend .h6;
  }
}

.article--short {

  padding-top: 0;
  padding-bottom: 0;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: $baseline;
  }

  .article__title {
    @extend .h3;
    margin-top: $baseline;
	min-height: $baseline * 5;
  }

  .article__header .date {
	margin-top: 19px;
  }

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    .article__header .author,
    .article__body {
      margin-left: 0;
    }
  }
}

.article--short-featured {

  padding-top: 0;
  padding-bottom: 0;

  .article__title {
    @extend .h2;
    margin-top: $baseline * 2;
  }
}


.article__body {
  @include col-pad;
}

.article__footer {
  @include col-pad;
}

.article__header {
  @include flex;
  flex-flow: row wrap;

  .date {
    order: 1;
    margin-top: $baseline * 2;
    margin-left: $pad;
    width: 100px - $pad;
  }
  .article__title {
    order: 2;
    flex: 1;
  }
  .author {
    order: 3;
    width: 100%;
    margin-top: 0;
    @include col-pad;
  }
}

.article__title {
  @extend .h2;
  margin-top: $baseline * 2;
  padding-left: $pad;
}

.article-list {
  @include list-unstyled;
  @include flex;
  flex-flow: row wrap;
  li {
	  padding-top: 0;
	  padding-bottom: 0;
  }
}

.pagination {
	margin-top: $baseline * 2;
  h2 { display: none; }
  justify-content: center;
  .nav-links {
    display: flex;
	justify-content: center;
  }
  .page-numbers {
	padding: 5px 5px 7px;
	&.current {
		font-weight: 600;
		padding-bottom: 4px;
		border-bottom: 3px solid $gray;
	}
  }
}

.search__results-label {
  @extend .lead;
  @include col-pad;
  font-weight: 600;
}

@include media-breakpoint-up(lg) {
  .article__header .author {
    margin-left: 100px;
  }
  .article__body,
  .article__footer {
    margin-left: 100px;
    max-width: 700px;
  }
  .article__title {
    max-width: 700px;
  }
}
