.recommended-reading {
	margin-top: $baseline * 2;
	margin-bottom: $baseline * 2;
  @include col-pad;
  ul {
    @include list-unstyled;
  }
}

.reading__title {
  display: block;
}
.reading__date-source {
  display: block;
  color: $gray-600;
}
