.videos {
  margin-top: $baseline;
  margin-bottom: $baseline;
  @include col-pad;
}

.videos__latest {
  position: absolute;
  bottom: 0;
  width: 100%;
  @extend .text-truncate;
  display: block;
  background-color: $blue;
  color: white;
  padding: 6px $pad/2;
  .icon {
    position: relative;
    top: -1px;
    margin-right: 8px;
  }
}

.videos__preview {
  display: block;
  background: black;
  background-size: 100%;
  height: $baseline * 14;
  position: relative;
  text-align: center;

  .videos__latest-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 400px) {
    height: $baseline * 18;
	.videos__latest-img {
		height: $baseline * 18;
	}
  }
  @media screen and (min-width: 500px) {
    height: $baseline * 21;
	.videos__latest-img {
		height: $baseline * 21;
	}
  }
  @include media-breakpoint-up(sm) {
    height: $baseline * 12;
	.videos__latest-img {
		height: $baseline * 12;
	}
  }
  @media screen and (min-width: 600px) {
    height: $baseline * 14;
	.videos__latest-img {
		height: $baseline * 14;
	}
  }
  @media screen and (min-width: 700px) {
    height: $baseline * 16;
	.videos__latest-img {
		height: $baseline * 16;
	}
  }
  @include media-breakpoint-up(md) {
    height: $baseline * 17;
	.videos__latest-img {
		height: $baseline * 17;
	}
  }
  @media screen and (min-width: 850px) {
    height: $baseline * 19;
	.videos__latest-img {
		height: $baseline * 19;
	}
  }
  @media screen and (min-width: 950px) {
    height: $baseline * 21;
	.videos__latest-img {
		height: $baseline * 21;
	}
  }
  @include media-breakpoint-up(lg) {
    height: $baseline * 15;
	.videos__latest-img {
		height: $baseline * 15;
	}
  }
  @media screen and (min-width: 1050px) {
    height: $baseline * 16;
	.videos__latest-img {
		height: $baseline * 16;
	}
  }
  @media screen and (min-width: 1150px) {
    height: $baseline * 17;
	.videos__latest-img {
		height: $baseline * 17;
	}
  }
}

.videos__recent-list {
  @include list-unstyled;
  @include list-tight;
  padding-left: $pad/2;
  .icon {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
}
